@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer

<style>
    .navstyle {
        color: white;
    }
</style>
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item"><a asp-area="" asp-controller="Places" asp-action="Create" class="nav-link">@Localizer["AddAPlace"]</a></li>
    <li class="nav-item"><a asp-area="" asp-controller="Places" asp-action="GetPlacesByUser" asp-route-page="1" class="nav-link"> @Localizer["MyPlaces"]</a></li>

}

