
@using  Places.Web.Models.ViewModels
@using DomainUtil

@model List<PlaceViewModel>
<style>
    .all-width {
        width: 100%;
    }
</style>

<hr />
<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("~/Views/Shared/Place.cshtml", @item)
    }
</div>
